@{
    ViewData["Title"] = "Home Page";
}
<br />

<div class="text-center">
    <h1 class="display-4">Welcome </h1>
</div>



<div class="text-center">
    <br>
    <br>
    <img src="https://lh3.googleusercontent.com/proxy/V-3Qys9WJTY_yP8LZh2KZ58iol_W2omClOad5eC08UmegWsTZUi3o32sdLrqQ-XDIGO-EBvAmKy6HUiB8Zu9aA6hXj0" />
</div>


